@model List<BugModel>
@{
    ViewData["Title"] = "Bug Index";
}

<h1>Bug Index</h1>
<hr />
<p>
    <a asp-controller="Bug" asp-action="Create" class="form-control" style="width:150px; text-decoration: none">Create New Bug</a>
</p>

<table class="table" style="table-layout: fixed; width:100%">
    <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 35%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
        <tr>
            <th>
                Bug Id
            </th>
            <th>
                Title
            </th>
            <th>
                Opened Date
            </th>
            <th>
                Assigned User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model!)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.BugId)
                    </td>
                    <td style="word-wrap:break-word">
                    @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.OpenedDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>                        
                        <a asp-controller="Bug" asp-action="Edit" asp-route-id="@item._id">Edit</a>
                        <a asp-controller="Bug" asp-action="Details" asp-route-id="@item._id">Details</a>
                        <a asp-controller="Bug" asp-action="Close" asp-route-id="@item._id">Close</a>
                    </td>
                </tr>
        }
    </tbody>
</table>


