@model DataModel
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Bug Id
            </th>
            <th>
                Title
            </th>
            <th>
                Opened Date
            </th>
            <th>
                UserId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bugs!)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.BugId)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.OpenedDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        <a asp-controller="Bug" asp-action="Edit" asp-route-id="@item._id">Edit</a> |
                        <a asp-action="Bug/Details" asp-route-id="@item._id">Details</a> |
                        <a asp-action="Bug/Close" asp-route-id="@item._id">Close</a>
                    </td>
                </tr>
        }
    </tbody>
</table>


