@model List<UserModel>
@{
    ViewData["Title"] = "User Index";
}

<h1>User Index</h1>
<hr />
<p>
    <a asp-controller="User" asp-action="Create" class="form-control" style="width:150px; text-decoration: none">Create New User</a>
</p>

<table class="table" style="table-layout: fixed; width:100%">
    <colgroup>
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 35%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
        <tr>
            <th>
                User ID
            </th>
            <th>
                Title
            </th>
            <th>
                Created Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model!)
        {
                    <tr>
                        <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td style="word-wrap:break-word">
                    @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>                        
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@item._id">Edit</a> | 
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@item._id">Delete</a>
                        </td>
                    </tr>
        }
    </tbody>
</table>

